<h2 class="page-header">Register</h2>
<form (submit)="onRegisterSubmit()">

    <div class="form-group">
        <label for="title">Title</label>
        <select class="form-control" [(ngModel)]="title" name="title">
          <option>Mr</option>
          <option>Ms</option>
          <option>Mrs</option>
          <option>Dr</option>
          <option>Prof</option>
        </select>
      </div>

    <div class="form-group">
        <label>First Name</label>
        <input type="text" [(ngModel)]="firstName" class="form-control" name="firstName" placeholder="Your First Name">
      </div>

      <div class="form-group">
          <label>Surname</label>
          <input type="text" [(ngModel)]="surname" class="form-control" name="surname" placeholder="Your Surname">
        </div>

  <div class="form-group">
    <label>APHRA registration number</label>
    <input type="text" [(ngModel)]="registrationNumber" class="form-control" name="registrationNumber" placeholder="Your APRHA Registration Number">
  </div>

  <div class="form-group">
    <label>Email</label>
    <input type="email" [(ngModel)]="email" name="email" class="form-control" placeholder="email">
  </div>

  <div class="form-group">
      <label>Mobile Phone</label>
      <input type="text" [(ngModel)]="phoneMobile" name="phoneMobile" class="form-control" placeholder="Your Mobile">
    </div>

  <div class="form-group">
    <label>Password</label>
    <input type="password" [(ngModel)]="password" name="password" class="form-control" placeholder="Password">
  </div>
<BR>
  <div>
    <label for="roles">I wish to register as a: </label>
  </div>
    <div class="form-check">
        <input class="form-check-input" [(ngModel)]="role" type="radio" name="role" value="practioner" id="practioner">
        <label class="form-check-label" for="practioner">
          Practioner Only
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" [(ngModel)]="role"  type="radio" name="role" value="specialist" id="specialist">
        <label class="form-check-label" for="specialist">
          Specialist and Practioner
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" [(ngModel)]="role"  type="radio" name="role" value="delegate" id="delegate">
        <label class="form-check-label" for="delegate">
          Delegate for a Practioner or Specialist
        </label>
      </div>
<br>
  <div class="form-check">
    <input type="checkbox" class="form-check-input">
    <label class="form-check-label" for="termsAndCondtions">I have read and agree to the <a href="#termsModal" data-toggle="modal" data-target="#termsModal">Terms and Conditions</a></label>

  </div>
<BR>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<app-termsandconditions></app-termsandconditions>