
<app-navbar></app-navbar>
<div class="container">
<flash-messages></flash-messages>



  <div class="row">
    <div  *ngIf=" showSidemenu.includes(router.url)" class="col-md-2">
      <app-sidebar></app-sidebar>
    </div>

    <div *ngIf="showSidemenu.includes(router.url);else other_content" class="col-md-10">
        <br>
      <router-outlet></router-outlet>
    </div>

    <ng-template #other_content>
    <div class="col-md-12">
      <br>
    <router-outlet></router-outlet>
  </div>
  </ng-template>
    
  </div>
  </div>
  

