<div class="jumbotron jumbotron-fluid text-center">
    <h1 class="display-5">ResultVault</h1>
    <p class="lead">ResultVault - eManagement of Referals and Results.</p>
    
    <p class="lead">
      <a class="btn btn-primary btn-lg" routerLink="/register" role="button">Register</a>
      <a class="btn btn-dark btn-lg" routerLink="/login" role="button">Login</a>
    </p>
  </div>

  <div class="row text-center">
    <div class="col">
     <h3>Pathology</h3>
     <p class="text-left">Request pathology tests. Download pathology results.</p>
    </div>
    <div class="col">
      <h3> Referals</h3>
      <p class="text-left">Lodge and review referals. </p>
    </div>
    <div class="col">
      <h3>Radiology</h3>
      <p class="text-left">Request radiology tests. Download results.</p>
    </div>
  </div>