<h3>
  ALL Referrals
</h3>
<h5>TEMP PAGE FOR DEV ONLY</h5>
<button (click)="toggleTitle()"> click Here</button>

<h4 class="title" style="display:none">
  {{title}}
</h4>


  <table id="myTable" class="display" *ngIf="referrals">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Surname</th>
        <th>Medicare NUmber</th>
        <th>Doctor</th>
        <th>Specialist</th>
      </tr>
    </thead>
    <tbody>

        <tr *ngFor="let referral of referrals">
          <td> {{ referral.patient.firstname }}</td>
          <td> {{ referral.patient.surname }}</td>
          <td> {{ referral.patient.medicarenumber }}</td>
          <td> {{ referral.practioner.title }} {{ referral.practioner.surname }}</td>
          <td> {{ referral.specialist.title }} {{ referral.specialist.surname }}</td>
        </tr>
      
    </tbody>
  </table>


  <h2>This is a ng-grid example</h2>
<ag-grid-angular style="width: 90%; height: 215px;" class="ag-theme-balham"
                [rowData]="rowData"
                [columnDefs]="columnDefs">
</ag-grid-angular>